.wrapper-localisation{
  background: $my-blue;
  padding-top: 30px;
  height: 89vh;
}

.localisation-graph{
  background: $my-white;
  border : 2px solid $my-grey;
  border-radius: 5px;
  box-shadow: 0 1px 5px 0 rgba(0,0,0,0.5);
  margin: 10px;
  h4 {
    padding-left: 20px;
  }

}
