.wrapper-video{
  background: $my-blue;
  height: 79vh;
}

.container-video{
  text-align: center;
  margin-right: auto;
  margin-left: auto;
  width: 900px;
  padding-top: 5px;
  border-radius: 5px;
  p {
    font-size: 14px;
  }
}

