<section class="cta-wrapper">
  <div class="cta-background"></div>
  <div class="container">
    <div class="row">
      <div class="col-sm-6 col-sm-offset-6">
        <div class="cta-content">
          <h3>All of our appointments includes:</h3>
          <ul>
            <li>
              a personalized interview
            </li>
            <li>
              a calendar for your meals
            </li>
            <li>
              a summary of your food type
            </li>
          </ul>
          <a href="#" class="btn btn-warning btn-block btn-lg">Make an appointment (39€*)</a>
          <p class="text-muted"><small>* you pay only if you accept the appointment</small></p>
        </div>
      </div>
    </div>

  </div>
</section>

<div class="container">
  <h2 class="text-center">Our services</h2>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptates officiis repellat obcaecati, sunt laudantium eaque minima impedit iure, reiciendis magni omnis facere distinctio excepturi eveniet aliquid velit similique dicta eligendi.</p>

</div>
