.presentation {
  height: 35vh;
  position: relative;
}

.presentation-name {
  position: absolute;
  bottom: 60px;
  left: 50px;
  color: #04B6C2;
  font-family: 'Satisfy', cursive;
  font-size: 60px;
}

.presentation-title {
  position: absolute;
  bottom: 7px;
  left: 200px;
  font-size: 25px;
  color: #616668;
}

