/* -------------------------------------
 * Utilities classes
 * These are examples of utilities classes
 * Feel free to change them and create your own
 * ------------------------------------- */

// Paddings
.padded {
  padding-top: 5em;
  padding-bottom: 5em;
}

// Backgrounds
.bg-black {
  background: #4a4a4a;
}
.bg-grey {
  background: #aeaeae;
}
.bg-blue {
  background: #00a3e1;
}
.bg-dark-blue {
  background: #3b5998;
}
.bg-my-blue {
  background: $my-blue;
}
.rappel-font{
  text-align: left;
  font-size: 12px;
}

.btn-orange {
  color: white;
  background: $my-orange;
  padding: 12px;
  border-radius: 5px;
  font-weight: bold;
}

.btn-orange:hover {
  text-decoration: none !important;
  color: white;
  cursor: pointer;
  opacity: 0.8;
}

.btn-blue {
  color: white;
  background: $my-blue2;
  padding: 12px;
  border-radius: 5px;
  font-weight: bold;
}

.btn-blue:hover {
  text-decoration: none !important;
  color: white;
  cursor: pointer;
  opacity: 0.8 !important;
}

